
$primary-color: #15a389; 
$secondary-color: #465b76; 
$third-color:#616161; 
$default-color: #4c4c4c;

// fonts-variable //

$regular-font:'Helvetica',sans-serif;
$medium-font:'HelveticaNeueLTStdMd',sans-serif;
$bold-font:'HelveticaLTStdBold',sans-serif;